.container {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.header {
  padding-right: 3rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  border: 1rem solid var(--mainYellow);
  background: var(--backrgound);
  position: relative;
  & > p {
    font-size: 5rem;
    color: var(--mainGreen);
    transform: translateY(1rem);
  }
  & > img {
    width: 15rem;
    padding: 1rem;
  }
}
.button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3rem;
  & > button{
    background-color: var(--mainYellow);
    width: 20rem;
    font-size: 3rem;
    color: var(--backrgound);
    padding: 2.7rem 2.3rem 2.5rem 2.5rem;
    transition: 0.3s ease-in-out;
  }
  & > button:hover{
    background-color: white;
    transition: 0.2s ease-in-out;
  }

  & > svg{
    width: 3rem;
    fill: white;
  }
  & > svg:first-child{
    animation: left-move 1s  infinite ease-out;

  }
  & > svg:last-child{
    animation: right-move 1s  infinite ease-out;

  }
}
@keyframes left-move {
  0%, 100% {
    transform: translateX(0.5rem);
  }
  50% {
    transform: translateX(0);
  }
}
@keyframes right-move {
  0%, 100% {
    transform: translateX(-0.5rem) scaleX(-1);
  }
  50% {
    transform: translateX(0)  scaleX(-1);
  }
}