.title{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  & > img{
    width: 40px;
    padding-top: 10px;
  }
  & > p {
    font-size: 25px;
    color: var(--mainYellow);
    transform: translateY(10px);
  }
}

.container{
  background: var(--darkBack);
  border: 1rem solid var(--mainGreen);
  width: 52.5rem;
}
.field{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.square{
  min-width: 2.52rem;
  min-height: 2.52rem;
  background: transparent;
  border: 1px solid var(--backrgound);
}

.header{
  display: flex;
  align-items: center;
  justify-content: end;
  height: 10rem;
  padding-right: 2rem;
  border-bottom: 1rem solid var(--mainGreen);
  font-size: 1.5rem;
  color: var(--mainYellow);
}
.head{
  background-color: var(--mainGreen);
}
.body{
  background-color: #3f5c40;
}
.apple{
  background-color: #e15331;
}