.title{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  & > img{
    width: 40px;
    padding-top: 12px;

  }
  & > p {
    font-size: 25px;
    color: var(--mainYellow);
    transform: translateY(10px);
  }
}

.container{
  background: var(--darkBack);
  border: 1rem solid var(--mainGreen);
  width: 50rem;
  height: 60rem;
}

.header{
  display: flex;
  align-items: center;
  justify-content: end;
  height: 10rem;
  padding-right: 2rem;
  border-bottom: 1rem solid var(--mainGreen);
  font-size: 1.5rem;
  color: var(--mainYellow);
}