.container{
  background: #000000;
  height: 35rem;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  max-width: 70rem;
  border: 1rem solid var(--mainYellow);
  & > p{
    color: white;
    font-size: 3rem;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    & > p{
      color: var(--mainYellow);
      font-size: 4rem;
      padding-top: 1rem;
    }
    & > img{
      width: 4.5rem;
    }
    & > img:last-child{
      transform: scaleX(-1);
    }
  }
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  & > button{
    color: white;
    font-size: 2rem;
  }
  & > button:hover{
    color: var(--mainYellow)
  }
}
.dark{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  z-index: 1;
  position: absolute;
  top: 0;
}